* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 100px;
	display: block;
	font-size: 0;
	box-shadow: inset 0 -6px 5px -5px;
}

main {
	width: 100%;
	height: 1600px;
	display: block;
	background-color: #ededed;
	font-size: 0;
}

footer {
	width: 100%;
	height: 30px;
	display: block;
	background-color: #404240;
	font-size: 20px;
	text-align: center;
}

nav {
	width: 600px;
	height: 100px;
	display: inline-block;
	margin-left: 576px;
	vertical-align: top;
	font-size: 26px;
	text-align: center;
}

.header_info {
	width: 1400px;
	height: 100px;
	margin: auto;
	display: block;
}

.header_logo {
	width: 224px;
	height: 100px;
	display: inline-block;
	vertical-align: top;
	font-size: 22px;
}

.nav_button {
	width: 135px;
	height: 50px;
	display: inline-block;
	vertical-align: top;
	font-size: 26px;
	border-radius: 7px;
	box-shadow: inset -3px -3px 5px;
	
}

.container {
	width: 100%;
	height: 800px;
	display: flex;
	overflow: hidden;
	background-image: url(images/sea.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	z-index: 1;
}

.container_2 {
	width: 100%;
	height: 800px;
	position: relative;
	display: flex;
	top: 800px;
	z-index: 1;
	overflow: hidden;
}

.content {
	width: 1500px;
	height: 700px;
	display: block;
	margin: auto;
	font-size: 48px;
	text-align: center;
}

.block {
	width: 720px;
	height: 340px;
	background-color: white;
	top: 760px;
	left: 50%;
	position: absolute;
	z-index: 2;
	transform: translateX(-50%);
	border-radius: 6px;
	border-bottom: 9px solid #009405;
}

.buttoner {
	border: 5px solid;
	border-color: #ffffff76;
	display: inline-block;
	vertical-align: top;
	height: 100px;
	width: 394px;
	background-color: black;
	border-radius: 6px;
}

.cont {
	margin-top: 40px;
}

.block_images {
	width: 720px;
	height: 230px;
	margin-top: 20px;
	display: block;
}

.cnt {
	display: flex;
	left: 50%;
	position: absolute;
	transform: translate(-50%);
	margin-top: 260px;
}

.cnt_2 {
	display: flex;
	left: 50%;
	position: absolute;
	transform: translate(-50%);
	margin-top: 460px;
}

.cnt_2_2 {
	width: 1200px;
	display: flex;
	left: 50%;
	position: absolute;
	transform: translate(-50%);
	margin-top: 645px;
}

.firstline {
	width: 720px;
	height: 115px;
	display: block;
}

.ds {
	padding-top: 2px;
}

#otstup {
	margin-left: 25px;
}

#ooty {
	margin-left: 52px;
}

#munnar {
	margin-left: 92px;
}

#humpi {
	margin-left: 66px;
}

#kovalam {
	margin-left: 75px;
}

#thenmala {
	margin-left: 59px;
}

#beach {
	margin-left: 46px;
}

#munnar_2 {
	margin-left: 82px;
}

#punaloor {
	margin-left: 67px;
}

#indo {
	font-weight: bold;
	color: #467ef0;
}

#otstup_2 {
	margin-left: 0;
}

#p1 {
	margin-left: 46px;
}

#p2 {
	margin-left: 165px;
}

#p3 {
	margin-left: 190px;
}

#p4 {
	margin-left: 157px;
}

nav a {
	width: 135px;
	height: 50px;
	padding: 5px 10px;
	margin-top: 28px;
	text-decoration: none;
	color: black;
	margin-left: 24px;
	margin-top: 10px;
}

nav a:hover {
	border-radius: 6px;
	box-shadow: inset -3px -3px 5px;
	background-color: lightblue;
}

.content h2 {
	color: white;
	padding-top: 200px;
	font-weight: normal;
}

.content a {
	background: linear-gradient(to bottom, #00cc00 0%, #009933 100%);
	padding: 10px 40px;
	border-radius: 5px;
	text-decoration: none;
	color: white
}

.content button {
	height: 85px;
	display: inline-block;
	vertical-align: top;
	margin-top: 85px;
	background-color: rgba(0, 0, 0, 0.0);
	border: 5px solid;
	border-radius: 10px;
	border-color: rgba(0, 0, 0, 0.2);
	font-size: 50px;
}

.header_logo h1 {
	margin-top: 24px;
	font-weight: normal;
}

.block h2 {
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	margin-top: 18px;
	color: #7a7d7b;
}

.cnt h2 {
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	color: #7a7d7b;
}

.block_images p {
	display: inline;
	font-size: 22px;
	margin-left: 26px;
	color: #7a7d7b;
}

.firstline img {
	width: 126px;
	margin-left: 10px;
}

.cnt_2 img {
	width: 160px;
	margin-left: 150px;
}

.cnt_2_2 p {
	display: inline;
	font-size: 30px;
	color: #7a7d7b;
}

.ds a {
	text-decoration: none;
	color: #467ef0;
}